[submodule "universal-reconstruction"]
	path = universal-reconstruction
	url = https://github.com/murapix/Universal-Reconstruction
	branch = master
[submodule "universal-reconstruction-dev"]
	path = universal-reconstruction-dev
	url = https://github.com/murapix/Universal-Reconstruction
	branch = dev
[submodule "oasis"]
	path = oasis
	url = https://github.com/murapix/Universal-Reconstruction
	branch = igm-new-years-2022
[submodule "nanite"]
	path = nanite
	url = https://github.com/murapix/profectus
	branch = break-the-cycle
