
/* Prestige button */
.reset {
    height: 120px;
    width: 180px;
    border: 4px solid;
    border-color: rgba(0, 0, 0, 0.125);
}

.tabButton {
    background-color: transparent;
    color: var(--color);
    font-size: 20px;
    cursor: pointer;
    padding: 5px 20px;
    margin: 5px;
    border: 2px solid;
    color: var(--color);

}

.tabButton:hover {
    transform: scale(1.1, 1.1);
    text-shadow: 0 0 7px var(--color);
}

.tooltip { 
    pointer-events: none;
    text-align: center;
    min-width: max-content;
    width: 150px;
    font-size: 10px;
    line-height: 1.2;
    top: 100%;
    left: 50%;
    margin-top: 5px;
    transform: translateX(-50%);
    padding: 7px;
    font-family: "Lucida Console", "Courier New", monospace;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.5s;
  
    position: absolute;
    z-index: 20000;
  
    background-color: var(--background_tooltip);
    color: var(--points);
    content: attr(tooltip);
}

.tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;

    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--background_tooltip) transparent;
}

/* Horizontal/vertical lines */
.vl {
    border-left: 6px solid var(--color);
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0
}

.hl {
    border-top: 3px solid var(--color);
}
